@import url(maincss.css);


#shop{
    margin-top: 150px;
}

#shop a{
    text-decoration: none;
    color: #868686;
}

#shop a:hover{
    color: black;
}

.zag1 {
    font-family: "Inter-SemiBold";
    text-align: left;
    font-size: 24px;
}

.st4 {
    font-family: "Bebas Neue";
    margin-left: 20px;
    font-size: 30px;
    color: black;
}

.st5 {
    font-family: "Mont";
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 16px;
    color: rgb(0, 0, 0);
}

.st6 {
    font-family: "Mont";
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 14px;
    color: gray;
}

.drop{
    margin-bottom: 30px;
}

#spisok, #spisok li{
    font-family: "Inter";
    font-size: 16px;
    margin: 0;
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 20px;
    list-style-type: none;
}

ul#spisok li {
    text-align: left;
}

#spisok2, #spisok2 li{
    float: inherit;
    font-family: "Inter";
    font-size: 16px;
    margin: 0;
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 20px;
    list-style-type: none;
}

ul#spisok2 li {
    display:inline-block;
    text-align: left;
}

.filtri {
    width: 100%;
    height: 90px;
    margin-bottom: 20px;
    background-color: #EFEFEF;
}

.sort {
    text-align: left;
    margin-bottom: 20px;
}


.buttons {
    font-family: "Mont";
    background-color: inherit;
    border: solid 2px black;
    margin-right: 6px;
    margin-bottom: 2px;
    margin-top: 4px;
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float: left;
}

.sorty {
    float: none;
    font-size: 12px;
    padding: 3px 5px;
}

.lot{
    background-color: white;
    border: solid 2px white;
    height: 400px;
    margin-bottom: 20px;
}

.lot img{
    max-width: 261px;
    max-height: 260px;
}

.lot p{
    height: 40px;
    margin-bottom: 5px;
    padding: 0px;
}

.lot:hover{
    border: solid 2px rgb(255, 255, 255);
    box-shadow: 0 5px 20px -6px rgba(0,0,0,0.5);
}


